
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #9dfad8;
  }
  
  .primary-color {
	color: #0072c6;
  }
  
  .secondary-color {
	color: #6d6d6d;
  }
  
  
  .top-bar {
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
  }
  
  .top-bar a {
	color: #196378;
  }
  
  .top-bar a:hover {
	color: #0072c6;
  }
  
 
  .button {
	background-color: #0072c6;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
  }
  
  .button:hover {
	background-color: #005baa;
  }
  
  
  h1 {
	font-size: 8em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: Arial;
	text-align: center;
	color: rgb(95, 24, 182);
	text-decoration-style: dotted;
  }
  
  h2 {
	font-size: 30px;
  }
  
  h3 {
	font-size: 24px;
  }
  
  .form-label {
	font-weight: bold;
  }
  
  .form-input {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
  }
  
  .form-input:focus {
	outline: none;
	border-color: #0072c6;
  }
  
 
  footer {
	background-color: #002a8c;
	color: #fff;
	padding: 20px;
	text-align: center;
  }


li {
    display: inline;
	float: right;
}

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: hsl(176, 49%, 32%);
	}
	 
	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	
	
	li a:hover {
	background-color: #1e0076;
	}
	
	
	a {
		font-family: "futura-pt-1","futura-pt-2",sans-serif;
		color:rgb(255, 255, 255);
	}


	.Classes {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		text-align: center;
		font-family: Arial;
		font-size: 3em;
		color: rgb(10, 1, 88);
	}

	.footertext {
		text-align: center;
		font-family: Arial;
		color: white;
	}

	.special{
		display: block;
		width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
	}

	.row {
		text-align: center;
	}

	@media screen and (max-width: 900px) {
		.column {
		  width: 50%;
		}
	  }
	
	  @media screen and (max-width: 600px) {
		.column {
		  width: 100%;
		}
	}