
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #61d3a9;
  }
  
  .logo {
	float: left;
	width: 0.5px;
	height: 0.5px;
  }
  .primary-color {
	color: #0072c6;
  }
  

  .secondary-color {
	color: #6d6d6d;
  }
  
  
  .top-bar {
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
  }
  
  .top-bar a {
	color: #196378;
  }
  
  .top-bar a:hover {
	color: #0072c6;
  }
  
 
  .button {
	background-color: #0072c6;
	color: #fff;
	padding: 10px 20px;
	border-radius: 6px;
  }
  
  .button:hover {
	background-color: #005baa;
  }
  
  
  h1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: Arial;
	text-align: center;
	color: rgb(110, 60, 171);
	-webkit-text-stroke: 1px #1e0076;
	padding-right: 5%;
	padding-left:5%;
  }
  
  
  .form-label {
	font-weight: bold;
  }
  
  .form-input {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
  }
  
  .form-input:focus {
	outline: none;
	border-color: #0072c6;
  }
  
 
  footer {
	background-color: #3c5ca8;
	color: #fff;
	padding: 20px;
	text-align: center;
  }


li {
    display: inline;
	float: right;
	padding-top: 0.5%;
}

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3c5ca8;
	}
	 
	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	
	
	li a:hover {
	background-color: #1e0076;
	}
	
	
	a {
		font-family: "futura-pt-1","futura-pt-2",sans-serif;
		color:rgb(255, 255, 255);
	}


	.Classes {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		-webkit-text-stroke: 0.5px #1e0076;
		color: white;
		font-style: bold;
		font-size: 2em;
	}

	p {
		text-align: center;
		font-family: Arial;
		font-size: 1em;
		color: rgb(10, 1, 88);
		padding-left: 20%;
		padding-right: 20%;
		font-style:italic;
	}

	.footertext {
		text-align: center;
		font-family: Arial;
		color: white;
		font-size: 6vh;
	}

	.special{
		display: block;
		width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
	}

	.turtle {
		display: block;
		width: 60%;
        height: auto;
        margin-left: auto;
		margin-right: auto;
		object-position: center;
	}

	.fishing {
		display: block;
		width: 100%;
        height: auto;
        margin-left: auto;
		margin-right: auto;
		object-position: center;
	}

	.dragon {
		display: block;
		width: 100%;
        height: auto;
        margin-left: auto;
		margin-right: auto;
		object-position: center;
	}
	.row {
		text-align: center;
		font-family: Arial;
		font-size: 8vh;
		color: #1e0076;
		font-style: bold;
		
	}


	.navlogo{
		width: 10vh;
		height: auto;
		padding-left: 2%;
	}
@viewport {
  width: auto; 
  zoom: 1.0;
} 
	@media screen and (max-width: 900px) {
		.column {
		  width: 50%;
		}
	  }
	
	  @media screen and (max-width: 600px) {
		.column {
		  width: 100%;
		}
	}